/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	text-transform: none;
}

.btn-github {
	@apply flex gap-2;
}

.btn-linkedin {
	@apply flex gap-2;
}
