@import 'tailwindcss';

@plugin 'daisyui' {
	themes: dark --default;
}

@plugin "daisyui/theme" {
	name: 'dark';
	default: true;
	color-scheme: 'dark';

	--color-base-100: oklch(14% 0.004 49.25);
	--color-base-200: oklch(21% 0.006 56.043);
	--color-base-300: oklch(26% 0.007 34.298);
	--color-base-content: oklch(97% 0.001 106.424);
	--color-primary: oklch(39% 0.195 277.366);
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: oklch(14% 0 0);
	--color-secondary-content: oklch(98% 0.003 247.858);
	--color-accent: oklch(58% 0.233 277.117);
	--color-accent-content: oklch(96% 0.016 293.756);
	--color-neutral: oklch(21% 0.006 56.043);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(72% 0.219 149.579);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(64% 0.246 16.439);
	--color-error-content: oklch(96% 0.015 12.422);

	--radius-selector: 2rem;
	--radius-field: 1rem;
	--radius-box: 2rem;

	--size-selector: 0.25rem;
	--size-field: 0.28125rem;

	--border: 2px;

	--depth: 1;
	--noise: 0;
}
